@{
    ViewData["ChildNutritionPlan"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.unicef.org/">This is the main Home Page</a>.</p>
</div>